<!DOCTYPE html>
<html>
    <head>
        <title>Assignments</title>
    <head>
    <body style="background-color:#A3E4D7;">
    
    <h2>Homework 1</h2>
    <p>
    The written portion served as an introduction to basic programming principles, as well<br> 
    as motivation for creating an algorithm based mindset. The coding portion revealed just how<br>
    important this is, as all of our work in python can be described as a bunch of small tasks<br> 
    written as code that come together to make a program. The us of lists in the second portion<br>
    was incredibly useful for exploring syntax and the power of python lists, something we used a lot.
    </p>
    <img src="/static/images/nameprogram.jpg" alt="An image from the first homework" border="3px">
    
    <h2>Homework 2</h2>
    <p>
    We continued to develop our understanding of basic coding theory with Homework 2, especially<br>
    when it comes to time complexity, which is at first a rather weird concept. It was also tied<br>
    into the different types of sorting algorithms there are, which can be quite useful. The coding<br>
    of this assignment introduced us to simulations and graphing with python, which have evident uses<br>
    in many scenarios. We also began to set up our machine learning algorithm and thus learned about<br>
    dictionaries and reading csv files. 
    </p>
    <table class="image">
        <caption align="bottom">The first graph shows the trajectory for a projectile in motion. 
        The second graph reveals that the simulated value and expected value do, in fact, diverge,
        if only slightly in this particular case.</caption>
        <tr><td><img src="/static/images/distance.jpg"
        alt="first graph"> 
        <img src="/static/images/comparison.jpg"
        alt="second graph"></td></tr>
    </table>
    
    
    <h2>Homework 3</h2>
    <p>
    The theory part of this assignment served to further solidify the concepts of time complexity,<br>
    as well as introduce the topic of recursion. Recursion is an elegant concept, which often helps<br>
    to simplify the solution to certain problems--- it does require caution when it comes to defining<br>
    your base case. One part of the coding portion further developed the machine learning algorithm.<br> 
    The other used recursion and the new topic of numpy arrays to solve a vertical percolation problem.<br>
    It's a simple problem in theory but the use of numpy is infinitely useful for many science fields.
    </p>
    
    <table class="image">
        <caption align="bottom">The flow of water.. so amazing.</caption>
        <tr><td><img src="/static/images/percolates.jpg"
        alt="example image that percolates"> 
        <img src="/static/images/does_not_percolate.jpg"
        alt="example image that does not percolate"></td></tr>
    </table>
    
    <h2>Homework 4</h2>
    <p>
    Homework 4 introduced  OOP, object oriented programming, a vital part of most programs that involve<br>
    end user interaction and an organized model for something. OOP is very useful for allowing objects to<br>
    interact with one another and build off of one another, and this homework involved identifying how<br>
    exactly this works.
    </p>
    
    <h2>Midterm Assignment</h2>
    <p>
    The midterm assignment allowed us to revisit the idea of reading and writing to a file in order to<br>
    analyze images. It also allowed us to explore the PPM image format specifically, even if it's not<br>
    necessarily the most common image format. The goal of this assignment was to write a program with<br>
    three specific functions to interact with or change images. One involved filtering out corrupted<br>
    portions of an image using three similar images, another involved applying a grayscale filter to<br>
    the image, and the last involved flipping the image horizontally. One of the most important parts<br>
    of the midterm assignment was writing the code from scratch!
    </p>
    
    <table class="image">
        <caption align="bottom">Mistakes can be truly beautiful sometimes.</caption>
        <tr><td><img src="/static/images/3 shades of wow.jpg" 
        width="375" height="480"
        alt="A fun shark"></td></tr>
    </table>
    
    <h2>Homework 5</h2>
    <p>
    In the final homework we completed the  machine learning program, wherein we analyzed our data<br>
    and produced some plots to go along with it. We were able to explore, pandas, seaborn, and scikit<br>
    learn throughout the process, which are all relevant tools for using python for any sort of machine<br>
    learning program. The idea was to examine cancer cells and decide whether certain parts of a tumor<br>
    were benign or malignant, which has apparent practical applications. 
    </p>
    
     <table class="image">
        <caption align="bottom">Some scatter plots of the data we ran the algorithm on.</caption>
        <tr><td><img src="/static/images/scatter_matrix.jpg" 
        width="500" height="500"
        alt="Scatter plots."></td></tr>
    </table>

    <h2>The Best Assignment</h2>
    <p>
    The best assignment (at least in my opinion), was the midterm. It certainly took some time and<br>
    thinking to complete, but I liked how complete my understanding felt when I finished it(even though<br>
    I am sure there are more elegant solutions). This also likely had a lot to do with where we were in<br>
    the course at this stage. At first the assignments were confusing and it often felt as though I<br>
    didn't have the tools at hand to solve a problem. But by the time I did the midterm assignment<br>
    it felt as though things really began to click, and I gained an entirely new appreciation for python.
    </p>
    
    <a href="/">Return to main page.</a></li>
    </body>
</html>