<!DOCTYPE html>
<html>
    <head>
        <title>Assignments</title>
    <head>
    <body style="background-color:#A3E4D7;">
    
    <h2>Homework 1</h2>
    <p>
    The written portion served as an introduction to basic programming principles, as well<br> 
    as motivation for creating an algorithm based mindset. The coding portion revealed just how<br>
    important this is, as all of our work in python can be described as a bunch of small tasks<br> 
    written as code that come together to make a program. The us of lists in the second portion<br>
    was incredibly useful for exploring syntax and the power of python lists, something we used a lot.
    </p>
    <img src="/static/images/nameprogram.jpg" alt="An image from the first homework" border="3px">
    
    <h2>Homework 2</h2>
    <p>
    We continued to develop our understanding of basic coding theory with Homework 2, especially<br>
    when it comes to time complexity, which is at first a rather weird concept. It was also tied<br>
    into the different types of sorting algorithms there are, which can be quite useful. The coding<br>
    of this assignment introduced us to simulations and graphing with python, which have evident uses<br>
    in many scenarios. We also began to set up our machine learning algorithm and thus learned about<br>
    dictionaries and reading csv files. 
    </p>
    <table class="image">
        <caption align="bottom">The first graph shows the trajectory for a projectile in motion. 
        The second graph reveals that the simulated value and expected value do, in fact, diverge,
        if only slightly in this particular case.</caption>
        <tr><td><img src="/static/images/distance.jpg"
        alt="first graph"> 
        <img src="/static/images/comparison.jpg"
        alt="second graph"></td></tr>
    </table>
    
    
    <h2>Homework 3</h2>
    <p>
    The theory part of this assignment served to further solidify the concepts of time complexity,<br>
    as well as introduce the topic of recursion. Recursion is an elegant concept, which often helps<br>
    to simplify the solution to certain problems--- it does require caution when it comes to defining<br>
    your base case. One part of the coding portion further developed the machine learning algorithm.<br> 
    The other used recursion and the new topic of numpy arrays to solve a vertical percolation problem.<br>
    It's a simple problem in theory but the use of numpy is infinitely useful for many science fields.
    </p>
    
    <table class="image">
        <caption align="bottom">The flow of water.. so amazing.</caption>
        <tr><td><img src="/static/images/percolates.jpg"
        alt="example image that percolates"> 
        <img src="/static/images/does_not_percolate.jpg"
        alt="example image that does not percolate"></td></tr>
    </table>
    
    <h2>Homework 4</h2>
    <p>
    Info... and pictures?
    </p>
    
    <h2>Midterm Assignment</h2>
    <p>
    Info... and pictures?
    </p>
    
    <h2>Homework 5</h2>
    <p>
    Info... and pictures?
    </p>
    
    
    <h2>The Best Assignment</h2>
    <p>The best assignment (at least in my opinion), has been...</p>
    
    <a href="/">Return to main page.</a></li>
    </body>
</html>