<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Internet Comics</title>
    <head>
    
    <body>
    
    <p>Background info   </p>
    <br>
    
    <p>Here we find a webcomic which brands itself in  
    <i>romance, sarcasm, math, and language.</i></p>
    
    <table class="image">
        <caption align="bottom">What we would've all done if we saw quarantine coming...</caption>
        <tr><td><img src="/static/images/angular_momentum_comic.jpg" 
        width="600" height="386"
        alt="A comic about angular momentum"></td></tr>
    </table>    
           
    
    <br*2>
    
    <a href="https://xkcd.com/">Have fun!</a>
    
    <br><br>
    
    <a href="/">Return to main page.</a></li>
    </body>
</html>