<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Internet Comics</title>
    <head>
    
    <body style="background-color:#A3E4D7;">
    
    <p>I first came across this site by reading a book by Randall Munroe titled <br>
    <i>What if?</i>. I realized that when it comes to learning about science <br>
    or engineering that one of the most important things is enjoying what you do. <br>
    What is there to learn if you don't have fun learning it? </p>
    
    <p>Just one example from a webcomic which brands itself in  
    <i>romance, sarcasm, math, and language.</i></p>
    
    <table class="image">
        <caption align="bottom">What we would've all done if we saw quarantine coming...</caption>
        <tr><td><img src="/static/images/angular_momentum_comic.jpg" 
        width="600" height="386"
        alt="A comic about angular momentum"></td></tr>
    </table>    
           
    
    <br><br>
    
    <a href="https://xkcd.com/">Have fun!</a>
    
    <br><br><br>
    
    <a href="/">Return to main page.</a>
    
    </body>
    
</html>