<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Dairon's 1006 Homepage</title>
    <head>
    
    <h1> Dairon Estevez's Web App</h1>
    
    
    <body style="background-color:#64CBD7;">  
    
    <img src="/static/images/picture_of_me.jpg" alt="A picture of me" width="369" height="400" border="3px">
    
    <p>Welcome to my web app! I am a freshman attending Columbia (online) university<br>
    in the City of New York! I intend to major in mechanical engineering and minor in <br>
    materials science and engineering. Below you will find links to my classes, my <br>
    assignments throughout my python learning experience, and a link to a webcomic.</p>
    
    <h2>Enjoy!</h2>
    
    <ul>
        <li><a href="/classes">See my classes!</a></li>
        <li><a href="/1006">Coming soon!</a></li>
        <li><a href="/comics">See some sciency shenanigans!</a></li>
    </ul>
    </body>
</html>