<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Dairon's 1006 Homepage</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/css/main.css"/>
    </head>
    
  
    
    <body>  
    <ul>
        <li><a href="/classes">See my classes!</a></li>
        <li><a href="/1006">Coming soon!</a></li>
        <li><a href="/comics">See some sciency shenanigans!</a></li>
    </ul>
                
       
    <p>More info coming soon...</p>

    </body>
</html>